player-connection-mode=Listen
player-connection-guid=2459760799
player-connection-debug=1
player-connection-project-name=ZulfarakRPG
player-connection-ip=172.19.64.1
player-connection-ip=192.168.1.68
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=4f1924b7db9a42a0ab91534d54920c90
